<div class="layer-control-element date-slider-container">
    <div>
    	<label class="date-slider-label">{{label}}</label>
    	<input class="slider"
    		data-slider-min={{min}}
    		data-slider-max={{max}}
    		data-slider-step={{step}}
    		data-slider-value={{initialValue}}>
    </div>
    <div>
	       <label class="date-label">{{initialFormattedValue}}</label>
    </div>
</div>
